----------------- Json Format ---------------------------
{{ansible_mounts | to_json}}



----------------- Yaml Format ---------------------------
{{ansible_mounts | to_yaml}}


----------------- Nice Yaml Format ---------------------------
{{ansible_mounts | to_nice_yaml}}




